.slider-container{
	position: relative;
	height: 600px;
	background-color: aqua;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.images-slider{
	width: 80vw;
	height: 600px;
	background-color: slateblue;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.buttons-container{
	width: 80vw;
	height: 600px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	direction: reverse;
	/* background-color: brown; */
	/* opacity: 0.8; */
}

.buttons-container div{
	width: 100px;
	height: 100%;
	background-color: black;
}

.slider-image{
	position: absolute;
}
