<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="flipping-card.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="front">
            <img src="1.jpg" alt="char" class="char-img">
            <img src="star.png" alt="star" class="star-icon">

        </div>
        <div class="back">
            <img src="1.jpg" alt="char" class="char-img">
            <h3>charchter</h3>
            <img src="star.png" alt="star" class="star-icon">
            <div class="info">
                <h4 class="status"><span class="status-icon"></span> <span class="status-info">alive - Human</span></h4>
                <div class="section">
                    <p class="text-gray">Last known location:</p>
                    <p class="info-text">Interdimensional Cable</p>
                </div>
                <div class="section">
                    <p class="text-gray">First seen in:</p>
                    <p class="info-text">Interdimensional Cable</p>
                </div>
            </div>

        </div>
    </div>    
</body>
</html>