@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background-color: #3CB64A;
}
.logo img{
    height: 44px;
    margin-left: 20px;
    padding: 0px;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-right: 20px;

    font-family: 'Creepster', cursive;
    letter-spacing: 1px;
    font-size: 18px;
    
}
.links{
    text-align: center;
    width: 19%;
    list-style: none;
    border: 2px solid #D2E054;
    border-radius: 6px;
    background-color: #3DA448;
    padding-top: 5px;
    padding-bottom: 5px;
}

.links.active{
    background-color: #15571c;
}

.links-text{
    color: #FEFDE8;
    text-decoration: none;
    
}

.links.not-active:hover{
    background-color: #69bd15 ;
    color: #b6ae1d;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    height: 5px;
    width: 30px;
    background-color: #FEFDE8;
    margin: 5px;
    border-radius: 6px;
}

@media screen and (max-width: 720px) {
    body{
        overflow-x:hidden ;
    }

    .nav-links{
        margin: 0;
        position: absolute;
        right: 0px;
        top: 50px;
        background-color: #58d567;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.25s;
        z-index: 40;
    }
    .nav-links{
        width: 0px;
    }

    .links{
        width: 100%;
        font-size: 22px;
        opacity: 0;
        transition: 0.25s;
    }
    .links{
        display: none;
    }
    .nav-links.active{
        width: 100%;
        transform: translateX(0%);
    }
    .nav-links.active .links{
        display: block;
        opacity: 1;
    }
    .burger{
        margin-right: 20px;
        display: block;
    }
    
}